body {
  font-family: "PT serif";
}

.my_container {
  margin-left: 5rem;
  margin-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero_link_decoration {
  font-size: 25px;
  color: #171717;
  font-weight: 700;
}

.nav_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home_link_decoration {
  color: #d7bf92;
}

.nav_ul {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  font-weight: 400;
  padding-top: 8px;
}

.nav_ul a {
  color: #171717;
  z-index: 0;
  position: relative;
  padding: 10px 10px;
}

.nav_ul a:hover, .nav_ul a:active {
  text-decoration: none;
  color: #171717;
}

ul.topBotomBordersOut li a:before, ul.topBotomBordersOut li a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #171717;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

ul.topBotomBordersOut li a:before {
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

ul.topBotomBordersOut li a:after {
  bottom: 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

ul.topBotomBordersOut li a:hover:before, ul.topBotomBordersOut li a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.background_img {
  background-image: url(../img/background.png);
}

.hero_based {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero_description {
  width: 560px;
  height: 110px;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 0;
}

.hero_dates {
  margin-bottom: 2.5rem;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  color: #171717;
}

.content_wrapping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_placement {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post_titles {
  color: #d7bf92;
}

.square_post_content {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.post_description {
  width: 250px;
  font-size: 20px;
  font-weight: 400;
}

.post_dates {
  font-size: 12px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post_placement figure {
  margin-right: 1rem;
}

.wide_post {
  width: 100%;
  text-align: center;
}

.hover01 {
  width: 50%;
}

.hover01 figure {
  text-align: center;
  overflow: hidden;
  width: 370px;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.sidebar_placement {
  margin-top: 5rem;
  margin-left: 4rem;
}

.sidebar_titles {
  width: 270px;
  height: 50px;
  border: #e4e4e4 1.5px solid;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar_titles p {
  margin-bottom: 0;
}

.sidebar_names {
  font-weight: 700;
  font-size: 16px;
}

.sidebar_content {
  margin: 1.5rem auto 0;
  font-size: 14px;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sidebar_content * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar_post_continue {
  font-size: 12px;
  width: 270px;
  color: #c9a96e;
  border-top: #e4e4e4 1.5px solid;
}

div.sidebar_content a:hover, a:active {
  color: #c9a96e;
}

div.sidebar_content p.post_description {
  width: 220px;
  height: 50px;
  font-size: 18px;
  line-height: 26px;
}

.sidebar_block_placement {
  margin-bottom: 2rem;
}

div.sidebar_content .post_dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first_sidebar_block {
  margin-bottom: 7rem;
}

.second_sidebar_block {
  margin-bottom: 7rem;
}

.third_sidebar_block {
  margin-bottom: 7rem;
}

.fourth_sidebar_block {
  margin-bottom: 7rem;
}

.third_sidebar_block li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.third_sidebar_block ul {
  padding: 0;
  width: 270px;
}

.third_sidebar_block ul p {
  margin-bottom: 0;
  margin-top: 0.65rem;
}

.third_sidebar_block a {
  color: #171717;
  padding-left: 0;
  border-bottom: #e4e4e4 1px solid;
  width: 250px;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.third_sidebar_block li:last-child a {
  border-bottom: unset;
}

.fourth_sidebar_rectangles {
  width: 88px;
  height: 88px;
  background-color: #f8f9fa;
  margin: 1px;
}

.fourth_sidebar_rectangles_placement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fourth_sidebar_rectangles_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.fourth_sidebar_rectangles_content img {
  margin-bottom: 2px;
  -webkit-mask-image: none;
          mask-image: none;
}

.fourth_sidebar_rectangles_placement p {
  font-size: 12px;
  color: #999999;
  margin-bottom: 0;
  text-align: center;
  font-family: "PT Sans";
}

.fiverth_sidebar_block:last-child * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fiverth_sidebar_block p {
  padding: 4px 10px;
  background-color: #f8f9fa;
  margin: 5px;
  color: #666666;
}

.fiverth_sidebar_block .sidebar_titles p {
  background-color: unset;
}

.pagination_placement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-left: 6rem;
}

.pagination {
  width: 600px;
  height: 50px;
  border: #e4e4e4 1px solid;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination a {
  font-family: "HK Grotesk";
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #171717;
  padding: 16px 16px;
}

.pagination a:hover {
  color: #171717;
  background-color: #ddd;
}

.pagination a:hover:nth-child(2) {
  background-color: unset;
}

.pagination a:hover:nth-child(11) {
  background-color: unset;
}

.pagination img:first-child {
  margin-left: 20px;
  margin-bottom: 2px;
}

.pagination img:last-child {
  margin-right: 20px;
  margin-bottom: 2px;
}

@media (max-width: 1240px) {
  .post_placement {
    width: 100%;
  }
  .content_wrapping {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wide_post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar_placement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    max-width: 100%;
  }
  .second_sidebar_block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sidebar_block_placement {
    width: 33.33%;
    text-align: center;
  }
  .sidebar_titles {
    width: auto;
  }
  .second_sidebar_block .sidebar_titles {
    width: 100%;
  }
  .sidebar_block_placement img {
    max-width: 100%;
  }
  .third_sidebar_block, .fourth_sidebar_block, .fiverth_sidebar_block {
    width: 33.33%;
  }
  .third_sidebar_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fourth_sidebar_rectangles {
    width: 33.33%;
    margin: 0;
  }
  .fourth_sidebar_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fiverth_sidebar_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third_sidebar_block ul {
    width: auto;
    padding-right: 5px;
  }
  .first_sidebar_block {
    margin: 0 33.33% 7rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first_sidebar_block div:first-child {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
  }
  .adaptation_sidebar_block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pagination_placement {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
  }
}

@media (max-width: 740px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .my_container {
    max-width: 100%;
    width: auto;
    margin: unset;
  }
  .nav_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    padding-left: 0;
  }
  .nav_ul li a {
    font-size: 20px;
    padding: 0.5rem;
    display: inline-block;
  }
  .fashion_placement {
    margin-bottom: 1rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_description {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-bottom: 1rem;
  }
  .post_placement {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hover01 {
    width: 100%;
  }
  .hover01 figure {
    margin-right: 0;
  }
  .wide_post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wide_post img {
    width: 100%;
  }
  .sidebar_placement {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar_block_placement {
    width: 100%;
  }
  .sidebar_block {
    width: 100%;
  }
  .sidebar_content {
    width: auto;
  }
  .second_sidebar_block .sidebar_titles {
    width: 270px;
  }
  .second_sidebar_block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adaptation_sidebar_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third_sidebar_block {
    width: 270px;
  }
  .fourth_sidebar_block {
    width: 270px;
  }
  .fiverth_sidebar_block {
    width: 270px;
    margin-bottom: 7rem;
  }
  .hover01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pagination a:nth-child(2) {
    display: none;
  }
  .pagination a:nth-child(11) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */