/* card */

.block-card__icon {
    margin-top: 3rem;
}

.block-card__title {
    font-size: 30px;
    color: #212240;
    font-weight: 300;
}

.block-card__description {
    max-width: 420px;
    height: 124px;
    font-size: 18px;
    line-height: 25px;
    color: #525f7f;
    font-weight: 300;
}