/** hero **/

.hero {
    margin-top: 11rem;
}

.hero__info {
    max-width: 480px;
    margin-bottom: 3rem;
}

.hero__item {
    color: $primary-color;
}

.hero__item_title {
    font-size: 48px;
    line-height: 62px;
    font-weight: 600;
    margin-bottom: 3rem;
}

.hero__item_description {
    font-size: 23px;
    line-height: 32px;
    font-weight: 300;
}

.hero__btns {
    max-width: 460px;
    display: flex;
    justify-content: space-between;
}

.hero__btns a {
    text-decoration: none;
}

.hero__btns a:active, .hero__btns a:hover {
    color: $primary-color;
}

.hero__btn {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #ffffff;
}

.hero__box_rectangle {
    width: 142px;
    height: 42px;
    border-radius: 3px;
    filter: drop-shadow(-6.691px 7.431px 10px rgba(111,54,255,0.2));
    background-color: #845cff;
    cursor: pointer;
    text-align: center;
}


.hero__link {
    color: $primary-color;
    font-size: 19px;
    line-height: 39px;
}
